@{
    ViewData["Title"] = "History";
    DateTime date = System.DateTime.Now;
    if(TempData["date"] != null){
         date = (DateTime)TempData["date"];
    }
}



@model List<NET105.Entities.Cart>


  <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    
                </div>
            </div>
        </div>
    </section>

<link rel="stylesheet" href="~/css/cart.css">
@if (Model != null)
{
    foreach(var item in Model){
        <div class="container mt-5 p-3 rounded cart">
           
     <div class="row no-gutters">
        <div class="col-md-8">

            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center">#<h4 class="ml-2">CartID: @item.CartId</h4></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between"><span>You have @item.CartDetails.Count items in your cart</span>
                  
                </div>
             
             @foreach (var cart in item.CartDetails)
             {
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="~/images/products/@cart.Product.ImageUrl" width="40">
                        <div class="ml-2"><h4 class="font-weight-bold d-block">@cart.Product.Name</h4></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block">@cart.Quantity</span><span class="d-block ml-5 font-weight-bold">@cart.Price</span></div>
                </div>
             }
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="payment-info">
                @* <div class="d-flex justify-content-between align-items-center"><span>Card details</span><img class="rounded" src="https://i.imgur.com/WU501C8.jpg" width="30"></div><span class="type d-block mt-3 mb-1">Card type</span><label class="radio"> <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label> *@
                <h3 class="text-light">Thông tin hóa đơn</h3>
                @* <div><label class="credit-card-label">Địa chỉ</label><input type="text" class="form-control credit-inputs" placeholder="Địa chỉ" value=".HomeAddress"></div>
                <div><label class="credit-card-label">Thành phố</label><input type="text" class="form-control credit-inputs" placeholder="Bà Rịa Vũng Tàu"></div>
                <div class="row">
                    <div class="col-md-6"><label class="credit-card-label">Huyện</label><input type="text" class="form-control credit-inputs" placeholder="Châu đức"></div>
                    <div class="col-md-6"><label class="credit-card-label">Số nhà</label><input type="text" class="form-control credit-inputs" placeholder="342"></div>
                </div> *@
                <h4  class="text-light">Tên khách hàng: <span class="text text-info">@ViewData["Name"]</span></h4>

                <h4  class="text-light">Ngày đặt hàng: <span class="text text-info">@item.CreatedDate</span></h4>
                @* @if (!@item.status)
                {
                  <h4>Trạng thái: <span class="text text-danger">Chưa hoàn thành</span></h4>

                }else{
                  <h4>Trạng thái: <span class="text text-success">Đã hoàn thành</span></h4>

                } *@
                <hr class="line">

                <div class="d-flex justify-content-between information"><span>Tổng tiền thanh toán</span><span>$@ViewBag.sumprice</span></div><button type="button" style="font-size: 20px;" class="btn btn-warning">@item.Total VNĐ</button>
            </div>
        </div>
    </div>
</div>
    }
}
else{

    <h1 class="alert alert-danger">Giỏ hàng trống</h1>
}