@{
	ViewData["Title"] = "CartView";
}
@model Cart


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Confirmation</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Confirmation</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
	<div class="container">
		<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
		<div class="row order_d_inner">
			<div class="col-lg-12">

				<div class="details_item ">
					<h4>Thông tin hóa đơn</h4>
					<hr>
					<ul class="list ">
						<div class="row">
							<li class="col-12"><a href="#"><span>Order Id</span> : @Model.CartId</a></li>
						</div>
						<div class="row mt-2">
							<li class="col-6"><a href="#"><span>Người đặt</span> : @Model.User.FullName</a></li>
							<li class="col-6"><a href="#"><span>Địa Chỉ</span> : @Model.Address</a></li>
						</div>
						<div class="row mt-2">
							<li class="col-6"><a href="#"><span>Email</span> : @Model.User.Email</a></li>
							<li class="col-6"><a href="#"><span>Thanh toán</span> : Thanh toán tại nhà</a>
							</li>
						</div>
						@switch (Model.Status)
						{
							case Cart.StatusType.Shipping:
								<h3 class="col-12 btn btn-warning  text-light">Đang giao hàng</h3>
								break;

							case Cart.StatusType.Success:
								<h3 class="col-12 btn btn-success  text-light">Đã hoàn thành</h3>
								break;

							case Cart.StatusType.Cancel:
								<h3 class="col-12 btn btn-error  text-light">Đơn hàng bị hủy</h3>
								break;

							default:
								<h3 class="col-12 btn btn-success  text-light">Không tìm thấy</h3>

								break;
						}

					</ul>
				</div>
			</div>
		</div>
		<div class="order_details_table">
			<h2>Order Details</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Product</th>
							<th scope="col">Quantity</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.CartDetails)
						{
							<tr>
								<td>
									<p>@item.Product.Name</p>
								</td>
								<td>
									<h5>x @item.Quantity</h5>
								</td>
								<td>
									<p>@item.Price VNĐ</p>
								</td>
							</tr>
						}
						<tr>
							<td>
								<h4>Total</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>@Model.Total VNĐ</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!--================End Order Details Area =================-->