@model NET105.Entities.User

@{
    ViewData["Title"] = "Thêm người dùng";
}


<div class="row">
    @await Html.PartialAsync("_MessagePartial")
    <div class="col-sm-12">
        <a class="btn btn-primary col-3" asp-action="Index"><i class="far fa-caret-square-left"></i> Quay lại</a>
        <hr>
        <div class="white-box row">

            <div class="col-lg-4 col-xlg-3 col-md-12">

            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All"></div>
                        <form method="post" asp-action="Create" class="form-horizontal form-material">

                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.FullName)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="FullName" type="text" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="FullName"></span>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.UserName)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="UserName" type="text" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="UserName"></span>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.Address)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="Address" type="text" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="Address"></span>
                            </div>
                          
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.PhoneNumber)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="PhoneNumber" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.Email)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="Email" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="Email"></span>
                            </div>

                               <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.RoleType)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select asp-for="RoleType" class="form-control p-0 border-0"
                                        asp-items="@Html.GetEnumSelectList<NET105.Entities.User.Role>()">
                                    </select>
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="RoleType"></span>
                            </div>


                            <div>
                                <div class="form-group mb-4 form-check">
                                    <label class="col-md-12 p-0">
                                        <input class="form-check-input p-0 border-0" asp-for="EmailConfirmed" />
                                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                                    </label>
                                </div>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">@Html.DisplayNameFor(item => item.Password)</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input asp-for="Password" type="text" class="form-control p-0 border-0">
                                </div>
                                <span class="badge bg-danger text-light" asp-validation-for="Password"></span>
                            </div>



                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i>
                                        Thêm người dùng</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>