
@model IPagedList<NET105.Entities.User>
@using Z.PagedList;
@using Z.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Danh sách người dùng";
}




<div class="row">
    
    @await Html.PartialAsync("_MessagePartial")
    <div class="col-sm-12">
        <div class="white-box">
            <a asp-action="Create" class="btn btn-primary text-light"><i class="fas fa-plus-circle"></i> Thêm người dùng</a>
            <form method="get"  class="row mt-2">
                <div class="col-10">
                    <input id="searchString" value="@ViewBag.searchString" name="searchString" class="col-12 form-control" placeholder="Nhập tên người dùng" type="text">
                </div>
                <div class="col-2">
                    <button type="submit" class="col-12 btn btn-success"><i class="fas fa-search"></i> Tìm kiếm</button>
                </div>
            </form>
            <hr>
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">
                @Html.DisplayNameFor(model => Model[0].FullName)
            </th>
            <th class="border-top-0">
                @Html.DisplayNameFor(model => Model[0].Address)
            </th>
          
            <th class="border-top-0">
                @Html.DisplayNameFor(model => Model[0].UserName)
            </th>
            <th class="border-top-0">
                @Html.DisplayNameFor(model => Model[0].Email)
            </th>
            <th class="border-top-0">
                @Html.DisplayNameFor(model => Model[0].PhoneNumber)
            </th>
                         
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                               <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                             
                                <td>
                                    <a class="btn btn-warning text-light" asp-action="Edit"
                                    asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a> 
                                    <a class="btn btn-dark text-light" asp-action="Details"
                                    asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details</a> 
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
           @Html.PagedListPager(Model,page => Url.Action("Index" , new {page  , searchString = ViewBag.searchString}),new Z.PagedList.Web.Common.PagedListRenderOptions{
               LiElementClasses = new string[] {"page-item"},
               PageClasses = new string[] {"page-link"},
           })
        </div>
    </div>
</div>

